<main class="container">
  <div class="center">
    <mat-card-title color="accent">Liste des assignments</mat-card-title>
  </div>
  <div class="ajouterBtn">
    <button mat-raised-button color="primary" (click)="remplirBD()">
      PEUPLER BD
    </button>
  </div>
  <div class="search-div">
    <a routerLink="/add">
      <button mat-raised-button>
        <mat-icon>add</mat-icon>
        Add Assignment
      </button>
    </a>
    <mat-form-field class="search-form-field" floatLabel="never">
      <input
        matInput
        [(ngModel)]="searchKey"
        placeholder="Search"
        autocomplete="off"
        (keyup)="applyFilter()"
      />
      <button
        matt-button
        matSuffix
        mat-icon-button
        aria-label="Clear"
        *ngIf="searchKey"
        (click)="onSearchClear()"
      >
        <mat-icon> close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <mat-table [dataSource]="listData" matSort>
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.id }} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nom </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.nom }} </mat-cell>
    </ng-container>

    <!-- Matiere Column -->
    <ng-container matColumnDef="matiere">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Matiere
      </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.matiere.nom }} </mat-cell>
    </ng-container>

    <!-- Auteur Column -->
    <ng-container matColumnDef="auteur">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Auteur
      </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.auteur }} </mat-cell>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Date de Rendu
      </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.dateDeRendu | date }} </mat-cell>
    </ng-container>

    <!-- Reamarque Column -->
    <ng-container matColumnDef="remarque">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Remarque
      </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.remarque }} </mat-cell>
    </ng-container>

    <!-- Rendu Column -->
    <ng-container matColumnDef="rendu">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Rendu
      </mat-header-cell>
      <mat-cell
        *matCellDef="let row"
        [style.color]="row.rendu ? 'green' : 'red'"
      >
        {{ row.rendu ? "Oui" : "Non" }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Edit
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button color="primary" (click)="rowClicked(row.id)">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Delete
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button color="warn" (click)="DeleteAssignment(row)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
      *matRowDef="let row; columns: displayedColumns"
      class="element-row"
    >
    </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</main>
