<mat-card *ngIf="assignmentTransmis">
  <div class="center">
    <mat-card-title>Detail de l'assignment</mat-card-title>
  </div>
  <div>
    <dl>
      <div class="info">
        <dt class="col-sm-4">Nom :</dt>
        <dd class="col-sm-8">{{ assignmentTransmis.nom }}</dd>
      </div>
      <div class="info">
        <dt class="col-sm-4">Matiere :</dt>
        <dd class="col-sm-8">{{ assignmentTransmis.matiere.nom }}</dd>
      </div>
      <div class="info">
        <dt class="col-sm-4">Professeur :</dt>
        <dd class="col-sm-8">
          {{ assignmentTransmis.matiere.professor_name }}
        </dd>
      </div>
      <div class="info">
        <dt class="col-sm-4">Auteur :</dt>
        <dd class="col-sm-8">{{ assignmentTransmis.auteur }}</dd>
      </div>
      <div class="info">
        <dt class="col-sm-4">Date de Rendu :</dt>
        <dd class="col-sm-8">{{ assignmentTransmis.dateDeRendu | date }}</dd>
      </div>
      <div class="info">
        <dt class="col-sm-4">Rendu :</dt>
        <dd class="col-sm-8">{{ assignmentTransmis.rendu }}</dd>
      </div>
      <div class="info" *ngIf="assignmentTransmis.rendu">
        <dt class="col-sm-4">Note :</dt>
        <dd class="col-sm-8">{{ assignmentTransmis.note }}</dd>
      </div>
      <div class="info" *ngIf="assignmentTransmis.rendu">
        <dt class="col-sm-4">Remarque :</dt>
        <dd class="col-sm-8">{{ assignmentTransmis.remarque }}</dd>
      </div>
    </dl>
  </div>

  <nav>
    <button mat-stroked-button color="primary" (click)="onClickEdit()">
      EDIT
    </button>
  </nav>
</mat-card>
