<div class="main container">
  <mat-toolbar class="shadow-lg" color="primary">
    <mat-toolbar-row>
      <h1 *ngIf="router.url != '/'" [routerLink]="['/home']">{{ title }}</h1>
      <h1 *ngIf="router.url == '/'">{{ title }}</h1>
      <span class="menu-spacer"></span>
      <button
        mat-raised-button
        *ngIf="router.url != '/'"
        (click)="disconnect()"
      >
        <mat-icon aria-hidden="false"> logout</mat-icon>
        Se déconnecter
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <!-- router-outlet désigne le composant défini par le routeur -->
  <router-outlet></router-outlet>
</div>
